.App {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 0 0 1rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  TODO: disable animation if user prefers reduced motion
  .App-logo {
    animation: App-logo-spin infinite 2s ease-in-out alternate-reverse;
  }
} */

.App header {
  background-color: #282c34; /* fallback */
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at top center, rgba(0, 200, 255, 0.5), #222);
  background-size: 120% 2000px;
  color: #f0f0f0;
  min-height: 12vmin;
  padding: 3vmin 1rem;
  text-align: center;
  font-size: 3vmin;
  box-shadow: 0.3rem 1rem 0.5rem rgba(192, 192, 192, 0.4);
}

.App header h1 {
  margin: 0;
}

.App .content {
  background-color: #fff;
  color: #111;
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0.3rem 1rem 0.5rem rgba(192, 192, 192, 0.4);
}

.App .catTitle {
  display: block;
  text-decoration: none;
  border-top: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
  border-radius: 0.5rem;
  padding: 0.1rem 0.4rem;
  font-size: 1.5rem;
}

.App .topicLink {
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: #116;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.App .topicLink:visited {
  background-color: #fff;
  color: #111;
}
.App .topicLink:hover {
  background-color: #aaf;
  color: #33f;
}
.App .topicLink:active {
  background-color: #116;
  color: #fff;
}

.App article .drawer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.App article h1, .App article h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.2rem 0rem;
}

/* content styles... not bothering to namespace at this point */

blockquote {
  position: relative;
  padding: 0.2rem 2rem;
  margin: 0;
  border-left: 0.4rem solid #ccc;
  border-right: 0.1rem solid #ccc;
  max-width: fit-content;
}

blockquote:before,
blockquote:after {
  position: absolute;
  font-size: 4rem;
  font-family: 'Times';
  color: gray;
}
blockquote:before {
  content: '“';
  margin-left: -0.5em;
  margin-top: -0.4em;
}
blockquote:after {
  content: '”';
  bottom: 0;
  right: 0;
  margin-right: 0.02em;
  margin-bottom: -0.75em;
}
