.App {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 0 0 1rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s ease-in-out alternate-reverse;
  }
} */

.App header {
  background-color: #282c34; /* fallback */
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at top center, rgba(0, 200, 255, 0.5), #222);
  background-size: 120% 2000px;
  color: #f0f0f0;
  min-height: 12vmin;
  padding: 3vmin 1rem;
  text-align: center;
  font-size: calc(10px + 2vmin);
  box-shadow: 0.3rem 1rem 0.5rem rgba(192, 192, 192, 0.4);
}

.App header h1 {
  margin: 0;
}

.App .content {
  background-color: #fff;
  color: #111;
  padding: 1em 2em;
  max-width: 80rem;
  margin: 0 auto 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0.3rem 1rem 0.5rem rgba(192, 192, 192, 0.4);
}

.App .catTitle {
  display: block;
  text-decoration: none;
  background-color: #ccc;
  color: #fff;
}

.App .topicLink {
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: #116;
}
.App .topicLink:visited {
  background-color: #fff;
  color: #111;
}
.App .topicLink:hover {
  background-color: #aaf;
  color: #33f;
}
.App .topicLink:active {
  background-color: #116;
  color: #fff;
}

.App article .drawer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}
